In [3]:
import pymysql
import pandas as pd

host = 'host.docker.internal'
port = 3306
user = 'root'
passwd = 'password'
db = 'movie'
charset = 'utf8mb4'

conn = pymysql.connect(host=host, port=port, user=user, passwd=passwd, db=db, charset=charset)
print('Successfully connected!')

cursor = conn.cursor()

# DELETE ALL
sql = """
DELETE FROM `v2_movie_release`;
"""
cursor.execute(sql)
conn.commit()
print('Successfully deleted!')

# 讀取 CSV 檔案
file_path = "v2_release_dates.csv" # 正確檔案路徑
df = pd.read_csv(file_path)

# 轉換 release_date 格式
df['release_date'] = pd.to_datetime(df['release_date']).dt.date

table_name = "v2_movie_release"

# 生成 SQL INSERT 語句並執行
for index, row in df.iterrows():
    sql = f"""
    INSERT INTO `{table_name}` (`tmdb_id`, `country`,`note`, `movie_release_date`, `movie_type`)
    VALUES ({row['tmdb_id']}, '{row['country']}','{row['note']}', '{row['release_date']}', {row['type']});
    """
    cursor.execute(sql)

# 提交變更
conn.commit()
print('Successfully inserted!')

cursor.close()
conn.close()

Successfully connected!
Successfully deleted!

ProgrammingError: (1064, "You have an error in your SQL syntax; check the manual that corresponds to your MySQL server version for the right syntax to use near 'Etrange Festival', '2023-09-08', 1)' at line 2")

In [ ]:
import pymysql
import pandas as pd

# 連接資料庫
host = 'host.docker.internal'
port = 3306
user = 'root'
passwd = 'password'
db = 'movie'
charset = 'utf8mb4'

conn = pymysql.connect(host=host, port=port, user=user, passwd=passwd, db=db, charset=charset)
print('Successfully connected!')

cursor = conn.cursor()

# DELETE ALL
sql = "DELETE FROM `v2_movie_release`;"
cursor.execute(sql)
conn.commit()
print('Successfully deleted!')

# 讀取 CSV 檔案
file_path = "v2_release_dates.csv"  # 正確檔案路徑
df = pd.read_csv(file_path)

# 轉換 release_date 格式
df['release_date'] = pd.to_datetime(df['release_date']).dt.date

table_name = "v2_movie_release"

# 生成 SQL INSERT 語句並執行（使用參數化查詢）
sql = f"""
INSERT INTO `{table_name}` (`tmdb_id`, `country`, `note`, `movie_release_date`, `movie_type`)
VALUES (%s, %s, %s, %s, %s);
"""

for index, row in df.iterrows():
    try:
        # 處理 `note` 欄位的單引號與特殊字元
        note = str(row['note']) if pd.notna(row['note']) else None

        # 處理 `movie_type` 是否為空值
        movie_type = int(row['type']) if pd.notna(row['type']) else None

        cursor.execute(sql, (
            row['tmdb_id'], 
            row['country'], 
            note, 
            row['release_date'], 
            movie_type
        ))

    except Exception as e:
        print(f"Error inserting row {index}: {e}")

# 提交變更
conn.commit()
print('Successfully inserted!')

cursor.close()
conn.close()

Successfully connected!
Successfully deleted!
Error inserting row 14252: nan can not be used with MySQL
Error inserting row 14805: nan can not be used with MySQL
Error inserting row 16752: nan can not be used with MySQL
Error inserting row 30370: nan can not be used with MySQL
Successfully inserted!

In [6]:
import pymysql
import pandas as pd

# 連接資料庫
host = 'host.docker.internal'
port = 3306
user = 'root'
passwd = 'password'
db = 'movie'
charset = 'utf8mb4'

conn = pymysql.connect(host=host, port=port, user=user, passwd=passwd, db=db, charset=charset)
print('Successfully connected!')

cursor = conn.cursor()

# DELETE ALL
sql = "DELETE FROM `v2_movie_release`;"
cursor.execute(sql)
conn.commit()
print('Successfully deleted!')

# 讀取 CSV 檔案
file_path = "v2_release_dates.csv"  # 確保檔案路徑正確
df = pd.read_csv(file_path)

# 轉換 release_date 格式
df['release_date'] = pd.to_datetime(df['release_date'], errors='coerce').dt.date  # `errors='coerce'` 讓無效日期變成 NaT

table_name = "v2_movie_release"

# SQL 語句 (使用參數化 SQL)
sql = f"""
INSERT INTO `{table_name}` (`tmdb_id`, `country`, `note`, `movie_release_date`, `movie_type`)
VALUES (%s, %s, %s, %s, %s);
"""

for index, row in df.iterrows():
    try:
        # 把 NaN 值轉換為 `None`
        tmdb_id = int(row['tmdb_id']) if pd.notna(row['tmdb_id']) else None
        country = str(row['country']) if pd.notna(row['country']) else None
        note = str(row['note']) if pd.notna(row['note']) else None
        movie_release_date = row['release_date'] if pd.notna(row['release_date']) else None
        movie_type = int(row['type']) if pd.notna(row['type']) else None

        # 插入資料
        cursor.execute(sql, (tmdb_id, country, note, movie_release_date, movie_type))

    except Exception as e:
        print(f"Error inserting row {index}: {e}")

# 提交變更
conn.commit()
print('Successfully inserted!')

cursor.close()
conn.close()

Successfully connected!
Successfully deleted!
Successfully inserted!