In [8]:
import pymysql
import pandas as pd

host = 'host.docker.internal'
port = 3306
user = 'root'
passwd = 'password'
db = 'movie'
charset = 'utf8mb4'

conn = pymysql.connect(host=host, port=port, user=user, passwd=passwd, db=db, charset=charset)
print('Successfully connected!')

cursor = conn.cursor()

# DELETE ALL

sql = """
DELETE FROM `movie_name`;
"""
cursor.execute(sql)
conn.commit()

print('Successfully delete!')

# INSERT 

# 讀取檔案
file_path = "v1_mapping_close_true.csv" #正確檔案路徑
df = pd.read_csv(file_path)

# 生成 SQL INSERT 語句
table_name = "movie_name"
sql_statements = []

for _, row in df.iterrows():
    sql = f"""
    INSERT INTO `{table_name}` (`Year`, `MovieId`, `Name`, `tmdb_id`, `tmdb_title`)
    VALUES ({row['Year']}, {row['MovieId']}, '{row['Name'].replace("'", "''")}', {row['tmdb_id']}, '{row['tmdb_title'].replace("'", "''")}');
    """.strip()
    print(sql)
    cursor.execute(sql)

# 將指令放進 cursor 物件，並執行
conn.commit()

print('Successfully insert!')

cursor.close()
conn.close()

Successfully connected!
Successfully delete!
INSERT INTO `movie_name` (`Year`, `MovieId`, `Name`, `tmdb_id`, `tmdb_title`)
    VALUES (2022, 21945, '緊急迫降', 626872, '緊急迫降');
INSERT INTO `movie_name` (`Year`, `MovieId`, `Name`, `tmdb_id`, `tmdb_title`)
    VALUES (2022, 22241, '機密同盟2', 736820, '機密同盟2');
INSERT INTO `movie_name` (`Year`, `MovieId`, `Name`, `tmdb_id`, `tmdb_title`)
    VALUES (2022, 23147, '音爆浩劫', 774548, '音爆浩劫');
INSERT INTO `movie_name` (`Year`, `MovieId`, `Name`, `tmdb_id`, `tmdb_title`)
    VALUES (2022, 22479, '樂透大作戰', 821153, '樂透大作戰');
INSERT INTO `movie_name` (`Year`, `MovieId`, `Name`, `tmdb_id`, `tmdb_title`)
    VALUES (2022, 21736, '魔女二部曲：另一個她', 615173, '魔女二部曲：另一個她');
INSERT INTO `movie_name` (`Year`, `MovieId`, `Name`, `tmdb_id`, `tmdb_title`)
    VALUES (2022, 21615, '嬰兒轉運站', 736732, '嬰兒轉運站');
INSERT INTO `movie_name` (`Year`, `MovieId`, `Name`, `tmdb_id`, `tmdb_title`)
    VALUES (2022, 21222, '犯罪都市2', 619803, '犯罪都市2');
INSERT INTO `movie_name` (`Year`, `MovieId`, `Name`, `tmdb_id`, `tmdb_title`)
    VALUES (2022, 21858, '外星+人', 601796, '外星+人');
INSERT INTO `movie_name` (`Year`, `MovieId`, `Name`, `tmdb_id`, `tmdb_title`)
    VALUES (2022, 22473, '行動代號：狼狩獵', 799379, '行動代號：狼狩獵');
INSERT INTO `movie_name` (`Year`, `MovieId`, `Name`, `tmdb_id`, `tmdb_title`)
    VALUES (2022, 22113, '獵首密令', 727340, '獵首密令');
INSERT INTO `movie_name` (`Year`, `MovieId`, `Name`, `tmdb_id`, `tmdb_title`)
    VALUES (2022, 22239, '語意錯誤電影版', 993885, '語意錯誤電影版');
INSERT INTO `movie_name` (`Year`, `MovieId`, `Name`, `tmdb_id`, `tmdb_title`)
    VALUES (2022, 21763, '分手的決心', 705996, '分手的決心');
INSERT INTO `movie_name` (`Year`, `MovieId`, `Name`, `tmdb_id`, `tmdb_title`)
    VALUES (2022, 20398, '極速快遞', 606403, '極速快遞');
INSERT INTO `movie_name` (`Year`, `MovieId`, `Name`, `tmdb_id`, `tmdb_title`)
    VALUES (2022, 22925, '局中局', 634595, '局中局');
INSERT INTO `movie_name` (`Year`, `MovieId`, `Name`, `tmdb_id`, `tmdb_title`)
    VALUES (2022, 20981, 'SEVENTEEN POWER OF LOVE : THE MOVIE', 946615, 'SEVENTEEN POWER OF LOVE : THE MOVIE');
INSERT INTO `movie_name` (`Year`, `MovieId`, `Name`, `tmdb_id`, `tmdb_title`)
    VALUES (2022, 23015, '厄憶追凶', 633374, '厄憶追凶');
INSERT INTO `movie_name` (`Year`, `MovieId`, `Name`, `tmdb_id`, `tmdb_title`)
    VALUES (2022, 18813, '金派特務', 629028, '金派特務');
INSERT INTO `movie_name` (`Year`, `MovieId`, `Name`, `tmdb_id`, `tmdb_title`)
    VALUES (2022, 22004, '韓山島海戰', 588108, '韓山島海戰');
INSERT INTO `movie_name` (`Year`, `MovieId`, `Name`, `tmdb_id`, `tmdb_title`)
    VALUES (2022, 23248, '晝盲神探', 806128, '晝盲神探');
INSERT INTO `movie_name` (`Year`, `MovieId`, `Name`, `tmdb_id`, `tmdb_title`)
    VALUES (2022, 23206, 'NCT DREAM THE MOVIE : In A DREAM', 1038198, 'NCT DREAM THE MOVIE : In A DREAM');
INSERT INTO `movie_name` (`Year`, `MovieId`, `Name`, `tmdb_id`, `tmdb_title`)
    VALUES (2022, 23216, '整形帝王', 717090, '整形帝王');
INSERT INTO `movie_name` (`Year`, `MovieId`, `Name`, `tmdb_id`, `tmdb_title`)
    VALUES (2022, 21779, '邪門', 877260, '邪門');
INSERT INTO `movie_name` (`Year`, `MovieId`, `Name`, `tmdb_id`, `tmdb_title`)
    VALUES (2022, 21823, '非常殺手', 938008, '非常殺手');
INSERT INTO `movie_name` (`Year`, `MovieId`, `Name`, `tmdb_id`, `tmdb_title`)
    VALUES (2022, 20110, '獵魂者', 602295, '獵魂者');
INSERT INTO `movie_name` (`Year`, `MovieId`, `Name`, `tmdb_id`, `tmdb_title`)
    VALUES (2022, 9051, '燃燒烈愛', 491584, '燃燒烈愛');
INSERT INTO `movie_name` (`Year`, `MovieId`, `Name`, `tmdb_id`, `tmdb_title`)
    VALUES (2022, 20335, '緣來大飯店', 821661, '緣來大飯店');
INSERT INTO `movie_name` (`Year`, `MovieId`, `Name`, `tmdb_id`, `tmdb_title`)
    VALUES (2022, 23214, '失控正義', 882580, '失控正義');
INSERT INTO `movie_name` (`Year`, `MovieId`, `Name`, `tmdb_id`, `tmdb_title`)
    VALUES (2022, 23362, '共感頻率', 962489, '共感頻率');
INSERT INTO `movie_name` (`Year`, `MovieId`, `Name`, `tmdb_id`, `tmdb_title`)
    VALUES (2022, 20402, '無間對決', 610321, '無間對決');
INSERT INTO `movie_name` (`Year`, `MovieId`, `Name`, `tmdb_id`, `tmdb_title`)
    VALUES (2022, 22653, '人生真美麗', 616670, '人生真美麗');
INSERT INTO `movie_name` (`Year`, `MovieId`, `Name`, `tmdb_id`, `tmdb_title`)
    VALUES (2022, 22221, '界限', 718289, '界限');
INSERT INTO `movie_name` (`Year`, `MovieId`, `Name`, `tmdb_id`, `tmdb_title`)
    VALUES (2022, 21160, '空氣殺人', 731684, '空氣殺人');
INSERT INTO `movie_name` (`Year`, `MovieId`, `Name`, `tmdb_id`, `tmdb_title`)
    VALUES (2022, 22628, '政客誠實中2', 795276, '政客誠實中2');
INSERT INTO `movie_name` (`Year`, `MovieId`, `Name`, `tmdb_id`, `tmdb_title`)
    VALUES (2022, 20749, '奇怪的數學家', 628802, '奇怪的數學家');
INSERT INTO `movie_name` (`Year`, `MovieId`, `Name`, `tmdb_id`, `tmdb_title`)
    VALUES (2022, 20942, '超跑斯特拉', 630217, '超跑斯特拉');
INSERT INTO `movie_name` (`Year`, `MovieId`, `Name`, `tmdb_id`, `tmdb_title`)
    VALUES (2022, 21164, '死亡預報', 626129, '死亡預報');
INSERT INTO `movie_name` (`Year`, `MovieId`, `Name`, `tmdb_id`, `tmdb_title`)
    VALUES (2022, 23199, '王者製造', 573787, '王者製造');
INSERT INTO `movie_name` (`Year`, `MovieId`, `Name`, `tmdb_id`, `tmdb_title`)
    VALUES (2022, 23364, '花路阿朱媽', 958937, '花路阿朱媽');
INSERT INTO `movie_name` (`Year`, `MovieId`, `Name`, `tmdb_id`, `tmdb_title`)
    VALUES (2022, 20778, '為人民服務', 743814, '為人民服務');
INSERT INTO `movie_name` (`Year`, `MovieId`, `Name`, `tmdb_id`, `tmdb_title`)
    VALUES (2022, 22818, '笑子當老大', 817557, '笑子當老大');
INSERT INTO `movie_name` (`Year`, `MovieId`, `Name`, `tmdb_id`, `tmdb_title`)
    VALUES (2022, 20661, '茲山魚譜', 581390, '茲山魚譜');
INSERT INTO `movie_name` (`Year`, `MovieId`, `Name`, `tmdb_id`, `tmdb_title`)
    VALUES (2022, 20473, '亡命陷阱', 840528, '亡命陷阱');
INSERT INTO `movie_name` (`Year`, `MovieId`, `Name`, `tmdb_id`, `tmdb_title`)
    VALUES (2022, 18817, '引言', 795797, '引言');
INSERT INTO `movie_name` (`Year`, `MovieId`, `Name`, `tmdb_id`, `tmdb_title`)
    VALUES (2022, 20994, '春川神秘中邪事件', 817480, '春川神秘中邪事件');
INSERT INTO `movie_name` (`Year`, `MovieId`, `Name`, `tmdb_id`, `tmdb_title`)
    VALUES (2022, 18794, '無人之境', 589713, '無人之境');
INSERT INTO `movie_name` (`Year`, `MovieId`, `Name`, `tmdb_id`, `tmdb_title`)
    VALUES (2022, 20555, '在你面前', 820517, '在你面前');
INSERT INTO `movie_name` (`Year`, `MovieId`, `Name`, `tmdb_id`, `tmdb_title`)
    VALUES (2022, 23146, '小說家電影', 928713, '小說家電影');
INSERT INTO `movie_name` (`Year`, `MovieId`, `Name`, `tmdb_id`, `tmdb_title`)
    VALUES (2022, 20801, '阿爸休假中', 743475, '阿爸休假中');
INSERT INTO `movie_name` (`Year`, `MovieId`, `Name`, `tmdb_id`, `tmdb_title`)
    VALUES (2022, 23154, '閨蜜大狂殺', 934207, '閨蜜大狂殺');
INSERT INTO `movie_name` (`Year`, `MovieId`, `Name`, `tmdb_id`, `tmdb_title`)
    VALUES (2022, 19991, '花果飄零', 889507, '花果飄零');
INSERT INTO `movie_name` (`Year`, `MovieId`, `Name`, `tmdb_id`, `tmdb_title`)
    VALUES (2022, 22111, '聽見心嘻望', 575764, '聽見心嘻望');
INSERT INTO `movie_name` (`Year`, `MovieId`, `Name`, `tmdb_id`, `tmdb_title`)
    VALUES (2022, 18924, '瑪雅蜜蜂大冒險：守護小金蛋', 681260, '瑪雅蜜蜂大冒險：守護小金蛋');
INSERT INTO `movie_name` (`Year`, `MovieId`, `Name`, `tmdb_id`, `tmdb_title`)
    VALUES (2022, 21031, '詭棋', 934957, '詭棋');
INSERT INTO `movie_name` (`Year`, `MovieId`, `Name`, `tmdb_id`, `tmdb_title`)
    VALUES (2022, 22172, '米婭的精靈王國', 955644, '米婭的精靈王國');
INSERT INTO `movie_name` (`Year`, `MovieId`, `Name`, `tmdb_id`, `tmdb_title`)
    VALUES (2022, 21857, '非戀人絮語', 567927, '非戀人絮語');
INSERT INTO `movie_name` (`Year`, `MovieId`, `Name`, `tmdb_id`, `tmdb_title`)
    VALUES (2022, 21664, '永別了，柏林', 620498, '永別了，柏林');
INSERT INTO `movie_name` (`Year`, `MovieId`, `Name`, `tmdb_id`, `tmdb_title`)
    VALUES (2022, 20534, '我是你的完美男友', 795813, '我是你的完美男友');
INSERT INTO `movie_name` (`Year`, `MovieId`, `Name`, `tmdb_id`, `tmdb_title`)
    VALUES (2022, 20223, '鄰危不亂', 681349, '鄰危不亂');
INSERT INTO `movie_name` (`Year`, `MovieId`, `Name`, `tmdb_id`, `tmdb_title`)
    VALUES (2022, 22515, '趴兔青春期', 871530, '趴兔青春期');
INSERT INTO `movie_name` (`Year`, `MovieId`, `Name`, `tmdb_id`, `tmdb_title`)
    VALUES (2022, 20134, '指考風暴', 852457, '指考風暴');
INSERT INTO `movie_name` (`Year`, `MovieId`, `Name`, `tmdb_id`, `tmdb_title`)
    VALUES (2022, 21746, '泳漾水男孩', 739323, '泳漾水男孩');
INSERT INTO `movie_name` (`Year`, `MovieId`, `Name`, `tmdb_id`, `tmdb_title`)
    VALUES (2022, 21236, '熟女解放中', 607442, '熟女解放中');
INSERT INTO `movie_name` (`Year`, `MovieId`, `Name`, `tmdb_id`, `tmdb_title`)
    VALUES (2022, 18291, '型男斷捨離', 546630, '型男斷捨離');
INSERT INTO `movie_name` (`Year`, `MovieId`, `Name`, `tmdb_id`, `tmdb_title`)
    VALUES (2022, 19920, '人性遊戲', 776542, '人性遊戲');
INSERT INTO `movie_name` (`Year`, `MovieId`, `Name`, `tmdb_id`, `tmdb_title`)
    VALUES (2022, 23290, '蘿拉快跑', 104, '蘿拉快跑');
INSERT INTO `movie_name` (`Year`, `MovieId`, `Name`, `tmdb_id`, `tmdb_title`)
    VALUES (2022, 20313, '非甜蜜生活', 608980, '非甜蜜生活');
INSERT INTO `movie_name` (`Year`, `MovieId`, `Name`, `tmdb_id`, `tmdb_title`)
    VALUES (2022, 20872, '真愛超能力', 612491, '真愛超能力');
INSERT INTO `movie_name` (`Year`, `MovieId`, `Name`, `tmdb_id`, `tmdb_title`)
    VALUES (2022, 21789, '洞', 47060, '洞');
INSERT INTO `movie_name` (`Year`, `MovieId`, `Name`, `tmdb_id`, `tmdb_title`)
    VALUES (2022, 21263, '愛在書店相遇時', 654344, '愛在書店相遇時');
INSERT INTO `movie_name` (`Year`, `MovieId`, `Name`, `tmdb_id`, `tmdb_title`)
    VALUES (2022, 21352, '隔離巢', 752616, '隔離巢');
INSERT INTO `movie_name` (`Year`, `MovieId`, `Name`, `tmdb_id`, `tmdb_title`)
    VALUES (2022, 22877, '星夢性快感', 592695, '星夢性快感');
INSERT INTO `movie_name` (`Year`, `MovieId`, `Name`, `tmdb_id`, `tmdb_title`)
    VALUES (2022, 21045, '阿哈：帶我走', 655738, '阿哈：帶我走');
INSERT INTO `movie_name` (`Year`, `MovieId`, `Name`, `tmdb_id`, `tmdb_title`)
    VALUES (2022, 22739, '瑞士鐘錶師', 749136, '瑞士鐘錶師');
INSERT INTO `movie_name` (`Year`, `MovieId`, `Name`, `tmdb_id`, `tmdb_title`)
    VALUES (2022, 22523, '女孩與蜘蛛', 517815, '女孩與蜘蛛');
INSERT INTO `movie_name` (`Year`, `MovieId`, `Name`, `tmdb_id`, `tmdb_title`)
    VALUES (2022, 20556, '愛你讓我自由', 835975, '愛你讓我自由');
INSERT INTO `movie_name` (`Year`, `MovieId`, `Name`, `tmdb_id`, `tmdb_title`)
    VALUES (2022, 20460, '鬼電梯', 760522, '鬼電梯');
INSERT INTO `movie_name` (`Year`, `MovieId`, `Name`, `tmdb_id`, `tmdb_title`)
    VALUES (2022, 20975, '越驚', 930478, '越驚');
INSERT INTO `movie_name` (`Year`, `MovieId`, `Name`, `tmdb_id`, `tmdb_title`)
    VALUES (2022, 20929, '祖怨', 947890, '祖怨');
INSERT INTO `movie_name` (`Year`, `MovieId`, `Name`, `tmdb_id`, `tmdb_title`)
    VALUES (2022, 22309, '迷霧中的孩子', 893030, '迷霧中的孩子');
INSERT INTO `movie_name` (`Year`, `MovieId`, `Name`, `tmdb_id`, `tmdb_title`)
    VALUES (2022, 19408, '逃出奧斯威辛', 717694, '逃出奧斯威辛');
INSERT INTO `movie_name` (`Year`, `MovieId`, `Name`, `tmdb_id`, `tmdb_title`)
    VALUES (2022, 19627, '勇鼠闖天堂', 588890, '勇鼠闖天堂');
INSERT INTO `movie_name` (`Year`, `MovieId`, `Name`, `tmdb_id`, `tmdb_title`)
    VALUES (2022, 21740, '浪浪回家路', 725133, '浪浪回家路');
INSERT INTO `movie_name` (`Year`, `MovieId`, `Name`, `tmdb_id`, `tmdb_title`)
    VALUES (2022, 21626, '野蠻人入侵', 796151, '野蠻人入侵');
INSERT INTO `movie_name` (`Year`, `MovieId`, `Name`, `tmdb_id`, `tmdb_title`)
    VALUES (2022, 21223, '格列佛遊記：重返小人國', 763539, '格列佛遊記：重返小人國');
INSERT INTO `movie_name` (`Year`, `MovieId`, `Name`, `tmdb_id`, `tmdb_title`)
    VALUES (2022, 22198, '沒有煙硝的日子', 913760, '沒有煙硝的日子');
INSERT INTO `movie_name` (`Year`, `MovieId`, `Name`, `tmdb_id`, `tmdb_title`)
    VALUES (2022, 20265, '2gether電影版：只因我們天生一對', 810406, '2gether電影版：只因我們天生一對');
INSERT INTO `movie_name` (`Year`, `MovieId`, `Name`, `tmdb_id`, `tmdb_title`)
    VALUES (2022, 21115, '猛鬼大學：第2學期', 939879, '猛鬼大學：第2學期');
INSERT INTO `movie_name` (`Year`, `MovieId`, `Name`, `tmdb_id`, `tmdb_title`)
    VALUES (2022, 21436, '鬼單眼', 947514, '鬼單眼');
INSERT INTO `movie_name` (`Year`, `MovieId`, `Name`, `tmdb_id`, `tmdb_title`)
    VALUES (2022, 23289, '魔蟲禁區', 949697, '魔蟲禁區');
INSERT INTO `movie_name` (`Year`, `MovieId`, `Name`, `tmdb_id`, `tmdb_title`)
    VALUES (2022, 21210, '淒厲人僧：卡到陰', 937743, '淒厲人僧：卡到陰');
INSERT INTO `movie_name` (`Year`, `MovieId`, `Name`, `tmdb_id`, `tmdb_title`)
    VALUES (2022, 23085, '愛情需要編劇', 922378, '愛情需要編劇');
INSERT INTO `movie_name` (`Year`, `MovieId`, `Name`, `tmdb_id`, `tmdb_title`)
    VALUES (2022, 20314, '記憶', 511819, '記憶');
INSERT INTO `movie_name` (`Year`, `MovieId`, `Name`, `tmdb_id`, `tmdb_title`)
    VALUES (2022, 20413, '波米叔叔的前世今生', 38368, '波米叔叔的前世今生');
INSERT INTO `movie_name` (`Year`, `MovieId`, `Name`, `tmdb_id`, `tmdb_title`)
    VALUES (2022, 22110, '超級蜥蜴王', 947049, '超級蜥蜴王');
INSERT INTO `movie_name` (`Year`, `MovieId`, `Name`, `tmdb_id`, `tmdb_title`)
    VALUES (2022, 22265, '詭孩', 660942, '詭孩');
INSERT INTO `movie_name` (`Year`, `MovieId`, `Name`, `tmdb_id`, `tmdb_title`)
    VALUES (2022, 19764, '忍者寶寶', 654074, '忍者寶寶');
INSERT INTO `movie_name` (`Year`, `MovieId`, `Name`, `tmdb_id`, `tmdb_title`)
    VALUES (2022, 20672, '秋月', 831031, '秋月');
INSERT INTO `movie_name` (`Year`, `MovieId`, `Name`, `tmdb_id`, `tmdb_title`)
    VALUES (2022, 19859, '梅艷芳', 848788, '梅艷芳');
INSERT INTO `movie_name` (`Year`, `MovieId`, `Name`, `tmdb_id`, `tmdb_title`)
    VALUES (2022, 19159, '怒火', 513692, '怒火');
INSERT INTO `movie_name` (`Year`, `MovieId`, `Name`, `tmdb_id`, `tmdb_title`)
    VALUES (2022, 20822, '神探大戰', 543504, '神探大戰');
INSERT INTO `movie_name` (`Year`, `MovieId`, `Name`, `tmdb_id`, `tmdb_title`)
    VALUES (2022, 16476, '麥路人', 640092, '麥路人');
INSERT INTO `movie_name` (`Year`, `MovieId`, `Name`, `tmdb_id`, `tmdb_title`)
    VALUES (2022, 7331, '春光乍洩', 18329, '春光乍洩');
INSERT INTO `movie_name` (`Year`, `MovieId`, `Name`, `tmdb_id`, `tmdb_title`)
    VALUES (2022, 9993, '阿飛正傳', 18311, '阿飛正傳');
INSERT INTO `movie_name` (`Year`, `MovieId`, `Name`, `tmdb_id`, `tmdb_title`)
    VALUES (2022, 20763, '胭脂扣', 68883, '胭脂扣');
INSERT INTO `movie_name` (`Year`, `MovieId`, `Name`, `tmdb_id`, `tmdb_title`)
    VALUES (2022, 22420, '飯戲攻心', 851800, '飯戲攻心');
INSERT INTO `movie_name` (`Year`, `MovieId`, `Name`, `tmdb_id`, `tmdb_title`)
    VALUES (2022, 22876, '智齒', 591222, '智齒');
INSERT INTO `movie_name` (`Year`, `MovieId`, `Name`, `tmdb_id`, `tmdb_title`)
    VALUES (2022, 20565, '少年', 436792, '少年');
INSERT INTO `movie_name` (`Year`, `MovieId`, `Name`, `tmdb_id`, `tmdb_title`)
    VALUES (2022, 20343, 'G風暴', 814785, 'G風暴');
INSERT INTO `movie_name` (`Year`, `MovieId`, `Name`, `tmdb_id`, `tmdb_title`)
    VALUES (2022, 20702, '阮玲玉', 68004, '阮玲玉');
INSERT INTO `movie_name` (`Year`, `MovieId`, `Name`, `tmdb_id`, `tmdb_title`)
    VALUES (2022, 20741, '英雄本色', 11471, '英雄本色');
INSERT INTO `movie_name` (`Year`, `MovieId`, `Name`, `tmdb_id`, `tmdb_title`)
    VALUES (2022, 21747, '闔家辣', 851798, '闔家辣');
INSERT INTO `movie_name` (`Year`, `MovieId`, `Name`, `tmdb_id`, `tmdb_title`)
    VALUES (2022, 22182, '媽的星寵兒', 942171, '媽的星寵兒');
INSERT INTO `movie_name` (`Year`, `MovieId`, `Name`, `tmdb_id`, `tmdb_title`)
    VALUES (2022, 21786, '七人樂隊', 537761, '七人樂隊');
INSERT INTO `movie_name` (`Year`, `MovieId`, `Name`, `tmdb_id`, `tmdb_title`)
    VALUES (2022, 22631, '憂鬱之島', 924120, '憂鬱之島');
INSERT INTO `movie_name` (`Year`, `MovieId`, `Name`, `tmdb_id`, `tmdb_title`)
    VALUES (2022, 21047, '邊緣行者', 941132, '邊緣行者');
INSERT INTO `movie_name` (`Year`, `MovieId`, `Name`, `tmdb_id`, `tmdb_title`)
    VALUES (2022, 20697, '秋天的童話', 64015, '秋天的童話');
INSERT INTO `movie_name` (`Year`, `MovieId`, `Name`, `tmdb_id`, `tmdb_title`)
    VALUES (2022, 21801, '繼園臺七號', 616020, '繼園臺七號');
INSERT INTO `movie_name` (`Year`, `MovieId`, `Name`, `tmdb_id`, `tmdb_title`)
    VALUES (2022, 23391, '正義迴廊', 1005251, '正義迴廊');
INSERT INTO `movie_name` (`Year`, `MovieId`, `Name`, `tmdb_id`, `tmdb_title`)
    VALUES (2022, 21812, '美少年之戀', 27060, '美少年之戀');
INSERT INTO `movie_name` (`Year`, `MovieId`, `Name`, `tmdb_id`, `tmdb_title`)
    VALUES (2022, 21517, '喜歡妳是妳', 876189, '喜歡妳是妳');
INSERT INTO `movie_name` (`Year`, `MovieId`, `Name`, `tmdb_id`, `tmdb_title`)
    VALUES (2022, 22231, '一路瞳行', 838119, '一路瞳行');
INSERT INTO `movie_name` (`Year`, `MovieId`, `Name`, `tmdb_id`, `tmdb_title`)
    VALUES (2022, 23317, '無間道', 10775, '無間道');
INSERT INTO `movie_name` (`Year`, `MovieId`, `Name`, `tmdb_id`, `tmdb_title`)
    VALUES (2022, 22085, '玫瑰的故事', 1325023, '玫瑰的故事');
INSERT INTO `movie_name` (`Year`, `MovieId`, `Name`, `tmdb_id`, `tmdb_title`)
    VALUES (2022, 21978, '流金歲月', 255856, '流金歲月');
INSERT INTO `movie_name` (`Year`, `MovieId`, `Name`, `tmdb_id`, `tmdb_title`)
    VALUES (2022, 22435, '心裏美', 987446, '心裏美');
INSERT INTO `movie_name` (`Year`, `MovieId`, `Name`, `tmdb_id`, `tmdb_title`)
    VALUES (2022, 21123, '海上花', 45935, '海上花');
INSERT INTO `movie_name` (`Year`, `MovieId`, `Name`, `tmdb_id`, `tmdb_title`)
    VALUES (2022, 23367, '無間道II', 11647, '無間道II');
INSERT INTO `movie_name` (`Year`, `MovieId`, `Name`, `tmdb_id`, `tmdb_title`)
    VALUES (2022, 23349, '無間道III：終極無間', 14310, '無間道III：終極無間');
INSERT INTO `movie_name` (`Year`, `MovieId`, `Name`, `tmdb_id`, `tmdb_title`)
    VALUES (2022, 22758, '流浪者之歌', 861947, '流浪者之歌');
INSERT INTO `movie_name` (`Year`, `MovieId`, `Name`, `tmdb_id`, `tmdb_title`)
    VALUES (2022, 22755, '卡拉之歌', 2143, '卡拉之歌');
INSERT INTO `movie_name` (`Year`, `MovieId`, `Name`, `tmdb_id`, `tmdb_title`)
    VALUES (2022, 20515, '時代革命', 850884, '時代革命');
INSERT INTO `movie_name` (`Year`, `MovieId`, `Name`, `tmdb_id`, `tmdb_title`)
    VALUES (2022, 7689, '發條橘子', 185, '發條橘子');
INSERT INTO `movie_name` (`Year`, `MovieId`, `Name`, `tmdb_id`, `tmdb_title`)
    VALUES (2022, 22525, '瘋狂富作用', 497828, '瘋狂富作用');
INSERT INTO `movie_name` (`Year`, `MovieId`, `Name`, `tmdb_id`, `tmdb_title`)
    VALUES (2022, 21017, '鯊顫', 960258, '鯊顫');
INSERT INTO `movie_name` (`Year`, `MovieId`, `Name`, `tmdb_id`, `tmdb_title`)
    VALUES (2022, 20802, '餐廳失控夜', 807196, '餐廳失控夜');
INSERT INTO `movie_name` (`Year`, `MovieId`, `Name`, `tmdb_id`, `tmdb_title`)
    VALUES (2022, 22117, '士兵與軍官', 797838, '士兵與軍官');
INSERT INTO `movie_name` (`Year`, `MovieId`, `Name`, `tmdb_id`, `tmdb_title`)
    VALUES (2022, 20693, '極限逃殺', 924482, '極限逃殺');
INSERT INTO `movie_name` (`Year`, `MovieId`, `Name`, `tmdb_id`, `tmdb_title`)
    VALUES (2022, 22611, '如果驢知道', 785398, '如果驢知道');
INSERT INTO `movie_name` (`Year`, `MovieId`, `Name`, `tmdb_id`, `tmdb_title`)
    VALUES (2022, 19272, '算牌手', 643532, '算牌手');
INSERT INTO `movie_name` (`Year`, `MovieId`, `Name`, `tmdb_id`, `tmdb_title`)
    VALUES (2022, 21906, '我們的英搖時光', 624793, '我們的英搖時光');
INSERT INTO `movie_name` (`Year`, `MovieId`, `Name`, `tmdb_id`, `tmdb_title`)
    VALUES (2022, 20076, '愛上費加洛', 508444, '愛上費加洛');
INSERT INTO `movie_name` (`Year`, `MovieId`, `Name`, `tmdb_id`, `tmdb_title`)
    VALUES (2022, 18530, '裸體午餐', 2742, '裸體午餐');
INSERT INTO `movie_name` (`Year`, `MovieId`, `Name`, `tmdb_id`, `tmdb_title`)
    VALUES (2022, 14480, '超速性追緝', 884, '超速性追緝');
INSERT INTO `movie_name` (`Year`, `MovieId`, `Name`, `tmdb_id`, `tmdb_title`)
    VALUES (2022, 22260, '性愛成癮的男人', 76025, '性愛成癮的男人');
INSERT INTO `movie_name` (`Year`, `MovieId`, `Name`, `tmdb_id`, `tmdb_title`)
    VALUES (2022, 20827, '瑪莉娜的512小時', 816344, '瑪莉娜的512小時');
INSERT INTO `movie_name` (`Year`, `MovieId`, `Name`, `tmdb_id`, `tmdb_title`)
    VALUES (2022, 11227, '山那邊的青稞田', 496404, '山那邊的青稞田');
INSERT INTO `movie_name` (`Year`, `MovieId`, `Name`, `tmdb_id`, `tmdb_title`)
    VALUES (2022, 22880, '大製片家', 844176, '大製片家');
INSERT INTO `movie_name` (`Year`, `MovieId`, `Name`, `tmdb_id`, `tmdb_title`)
    VALUES (2022, 20291, '毫無意義', 42035, '毫無意義');
INSERT INTO `movie_name` (`Year`, `MovieId`, `Name`, `tmdb_id`, `tmdb_title`)
    VALUES (2022, 20189, '蜘蛛人：無家日', 634649, '蜘蛛人：無家日');
INSERT INTO `movie_name` (`Year`, `MovieId`, `Name`, `tmdb_id`, `tmdb_title`)
    VALUES (2022, 23322, '阿凡達：水之道', 76600, '阿凡達：水之道');
INSERT INTO `movie_name` (`Year`, `MovieId`, `Name`, `tmdb_id`, `tmdb_title`)
    VALUES (2022, 19885, '永恆族', 524434, '永恆族');
INSERT INTO `movie_name` (`Year`, `MovieId`, `Name`, `tmdb_id`, `tmdb_title`)
    VALUES (2022, 21054, '奇異博士2：失控多重宇宙', 453395, '奇異博士2：失控多重宇宙');
INSERT INTO `movie_name` (`Year`, `MovieId`, `Name`, `tmdb_id`, `tmdb_title`)
    VALUES (2022, 21741, '雷神索爾：愛與雷霆', 616037, '雷神索爾：愛與雷霆');