In [20]:
# 連接資料庫
import pymysql

host = 'host.docker.internal'
port = 3306
user = 'root'
passwd = 'password'
db = 'testdb'
charset = 'utf8mb4'

conn = pymysql.connect(host=host, port=port, user=user, passwd=passwd, db=db, charset=charset)
print('Successfully connected!')

cursor = conn.cursor()

Successfully connected!

In [22]:
# 試著 INSERT 一筆資料
# 注意 TABLE 欄位的資料型態

# 先寫好 SQL 語法
sql = """
INSERT INTO test_staff_2 (ID, Name, DeptId, Age, Gender, Salary, recordDt)
VALUES ('001', 'Mike', '002', 45, 'M', 60000, '2020-04-24 14:59:57');
"""

# 將指令放進 cursor 物件，並執行
cursor.execute(sql)

1

In [23]:
conn.commit()

In [24]:
sql = """
delete from test_staff_2
"""
cursor.execute(sql)
conn.commit()

In [26]:
data =[('001', 'Mike', '002', '45', 'M', '60000', '2020-10-13 21:41:49'),
 ('002', 'Judy', '002', '30', 'F', '48000', '2020-10-13 21:41:49'),
 ('003', 'Allen', '001', '22', 'M', '50000', '2020-10-13 21:41:49'),
 ('004', 'Tom', '002', '47', 'M', '47000', '2020-10-13 21:41:49'),
 ('005', 'Jack', '003', '36', 'M', '52000', '2020-10-13 21:41:49'),
 ('006', 'Abby', '002', '24', 'F', '45000', '2020-10-13 21:41:49'),
 ('007', 'Trump', '001', '80', 'M', '80000', '2020-10-13 21:41:49'),
 ('008', 'Marry', '003', '29', 'F', '87000', '2020-10-13 21:41:49')]

sql_insert = """
INSERT INTO test_staff_2 (ID, Name, DeptId, Age, Gender, Salary, recordDt)
VALUES (%s, %s, %s, %s, %s, %s, %s);
"""
#上面%s那些是模板 像是後迴圈 把資料放進去

cursor.executemany(sql_insert, data)

8

In [27]:
conn.commit()

In [29]:
sql ="select * from test_staff_2"

cursor.execute(sql)

8

In [30]:
cursor.fetchall()

(('001', 'Mike', '002', 45, 'M', 60000, '2020-10-13 21:41:49'),
 ('002', 'Judy', '002', 30, 'F', 48000, '2020-10-13 21:41:49'),
 ('003', 'Allen', '001', 22, 'M', 50000, '2020-10-13 21:41:49'),
 ('004', 'Tom', '002', 47, 'M', 47000, '2020-10-13 21:41:49'),
 ('005', 'Jack', '003', 36, 'M', 52000, '2020-10-13 21:41:49'),
 ('006', 'Abby', '002', 24, 'F', 45000, '2020-10-13 21:41:49'),
 ('007', 'Trump', '001', 80, 'M', 80000, '2020-10-13 21:41:49'),
 ('008', 'Marry', '003', 29, 'F', 87000, '2020-10-13 21:41:49'))

In [31]:
cursor.fetchall()

()

In [32]:
sql ="select * from test_staff_2"

cursor.execute(sql)

8

In [33]:
output =cursor.fetchall()

In [34]:
output

(('001', 'Mike', '002', 45, 'M', 60000, '2020-10-13 21:41:49'),
 ('002', 'Judy', '002', 30, 'F', 48000, '2020-10-13 21:41:49'),
 ('003', 'Allen', '001', 22, 'M', 50000, '2020-10-13 21:41:49'),
 ('004', 'Tom', '002', 47, 'M', 47000, '2020-10-13 21:41:49'),
 ('005', 'Jack', '003', 36, 'M', 52000, '2020-10-13 21:41:49'),
 ('006', 'Abby', '002', 24, 'F', 45000, '2020-10-13 21:41:49'),
 ('007', 'Trump', '001', 80, 'M', 80000, '2020-10-13 21:41:49'),
 ('008', 'Marry', '003', 29, 'F', 87000, '2020-10-13 21:41:49'))

In [35]:
output

(('001', 'Mike', '002', 45, 'M', 60000, '2020-10-13 21:41:49'),
 ('002', 'Judy', '002', 30, 'F', 48000, '2020-10-13 21:41:49'),
 ('003', 'Allen', '001', 22, 'M', 50000, '2020-10-13 21:41:49'),
 ('004', 'Tom', '002', 47, 'M', 47000, '2020-10-13 21:41:49'),
 ('005', 'Jack', '003', 36, 'M', 52000, '2020-10-13 21:41:49'),
 ('006', 'Abby', '002', 24, 'F', 45000, '2020-10-13 21:41:49'),
 ('007', 'Trump', '001', 80, 'M', 80000, '2020-10-13 21:41:49'),
 ('008', 'Marry', '003', 29, 'F', 87000, '2020-10-13 21:41:49'))

In [36]:
cursor.close()
conn.close()